@charset "UTF-8";
/* CSS Document */

.name{
	background-color: #563C39;
	padding-bottom: 20px; 
	padding-top:20px; 
	color:#FFFFFF;
	max-width:100%;
	margin:auto;
	text-align: center
}

.nav{
	background-color: #FFFFFF;  
	max-width:100%; 
	font-size:18pt; 
	padding-top:20px; 
	padding-bottom:20px; 
	color:#563C39; 
	margin:auto;
	text-align: center
}

body { 
	background-color:#EAE1DF; 
	max-width:85%; 
	margin:auto
} 

img {
	float:left; 
	max-width: 40%; 
	padding: 10px; 
	padding-right: 15px; 
}
main{
	background-color:#EAE1DF
}
h1{
	color:#563C39; 
	font-family: Georgia, serif; 
	font-size: 32pt; 
	text-align: center
}

h2{
	color: #563C39; 
	font-family: Georgia, serif; 
	font-size: 25pt; 
	text-align:center
}

h3{
	color: #563C39; 
	font-family: Georgia, serif; 
	font-size: 18pt; 
	max-width: 85%;
}

p{
	color: #563C39;
	padding: 3px; 
	line-height: 1.5em; 
	text-indent: 25px; 
	font-size: 14pt;
}
.indextable{
	clear:left;
	table-layout: fixed;
}
li{
	display:inline;
	text-align: center; 
	margin-right:50px; 
	margin-left:50px; 
	font-family: Georgia, serif; 
	font-weight:bold;
}
dl{
	color: #563C39;
	font-family: Georgia, serif;
	font-size: 14pt;
}


td,th{
	 border:.5px black; 
	border-style:solid;
	padding-top:7px; 
	width:100%; 
	padding-bottom:7px;
}

footer{
	background-color:#FFFFFF; 
	padding:5px;
	max-width:100%;
}


.footernav {
	max-width:100%; 
	font-size:18pt; 
	padding-top:12px; 
	padding-bottom:2px; 
	color:#563C39; 
	margin:auto;
	text-align: center
}

.footer2 {
	color:#563C39;
	font-style: italic;
	margin:auto;
	text-align:center;
	font-size:14pt;
	padding-top:2px;
	padding-bottom:12px;
}


.tableheader {
	font-size:15pt;
}

.img {
	max-width:200px;
}